.main{
width: 100%;
height: 100vh;
/* background-color: rgb(0, 255, 26); */
background-image: url("flowers2.jpg");
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
}


h1{
  /* background-color: red; */
  margin-top: 30px;
  margin-left: 20px;
  /* background-color: rgb(11, 185, 46); */
  font-size: 60px;
  font-family: 'Orbitron', sans-serif;
}